<h1><%= director.getName() %></h1>
<p><em><%= director.getLifeDates() %></em></p>

<div style='margin-left: 30px'>
  <h4>Movies</h4>
  <dl>
    <% movies.forEach(movie => { %>
    <dt><a href='<%= movie.getUrl() %>'><%= movie.title %></a></dt>
    <dd><%= movie.summary %></dd>
    <% }) %>
    <% if (!movies.length) { %>
    <p>No movies currently listed by this director.</p>
    <% } %>
  </dl>
</div>

<hr>
<a href='<%= director.getUrl() + "/delete" %>'>Delete director</a>
<% console.log('url: ' + director.getUrl()) %>
<% console.log('w/ delete: ' + director.getUrl() + '/delete') %>