<h1><%= genre.name %></h1>

<h4>Movies</h4>
<dl>
  <% movies.forEach(movie => { %>
  <dt><a href='<%= movie.getUrl() %>'><%= movie.title %></a> (<%= movie.releaseYear %>)</dt>
  <dd><%= movie.summary %></dd>
  <% }) %>
  <% if (!movies.length) { %>
  <p>No movies currently listed of this genre.</p>
  <% } %>
</dl>

<hr>
<p>
  <a href="<%= genre.getUrl() + '/update' %>">Update</a>
</p>
<p><a href='<%= genre.getUrl() + "/delete" %>'>Delete</a></p>