<h1><%= title %></h1>

<ul>
  <% if (movieinstances.length === 0) { %>
  <li>There are no movies in this library.</li>
  <% } else { %>

  <% movieinstances.forEach(instance => { %>
  <li>
    <a href='<%= instance.movie.getUrl() %>'><%= instance.movie.title %></a> (<%= instance.movie.releaseYear %>): <%= instance.format %><%= instance.edition ? ` (${instance.edition}) - ` : ' - ' %>
    <span class='<%= instance.status === 'available' ? 'text-success' : instance.status === 'loaned' ? 'text-warning' : 'text-danger' %>'><%= instance.status.charAt(0).toUpperCase() + instance.status.slice(1) %></span>
    <% if (instance.status !== 'available') { %>
    <span> - Since: <%= instance.statusChangeDate %></span>
    <% } %>
  </li>
  <% }) %>

  <% } %>
</ul>